*.pyc
.vscode
**/__pycache__/**
.idea/
test_examples/results/**
examples/results/**
dev_data/

*.log
*.dat
.attach_*
*.db
*.lck
*.properties
*.ctrl
*.egg-info
build/**
dist/**
*.pdf
*.xlsx
*.png
cacheData/**
examples/ExampleData/**
PilotScopeDocs/**
examples/temp_log_of_pilotscope_console.txt