*.pyc
.vscode
**/__pycache__/**
.idea/
test_examples/results/**
dev_data/

*.log
*.dat
.attach_*
*.db
*.lck
*.properties
*.ctrl
*.egg-info
build/**
dist/**
*.pdf
*.xlsx
*.png
cacheData/**
examples/ExampleData/**