*.pyc
.vscode
**/__pycache__/**
.idea/
test_example_algorithms/results/**
algorithm_examples/results/**
dev_data/

*.log
*.dat
.attach_*
*.db
*.lck
*.properties
*.ctrl
*.egg-info
build/**
dist/**
*.pdf
*.xlsx
*.png
cacheData/**
algorithm_examples/ExampleData/**
PilotScopeDocs/**
algorithm_examples/temp_log_of_pilotscope_console.txt